@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0D1F29;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.flex{
  display: flex; 
}
.typography{
  color: var(--light-colors-white, #FFF);
  text-align: center;
  
  /* Heading/28 Bold */
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
.typography2{
color: var(--dark-font-grey, #617986);
text-align: center;
/* Body/16 Medium */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.greentext{
  color: #23AA49;
}